## 튜플 자료형

In [19]:
tuple_a = (2,1,2,3,6,7)
print(f'{tuple_a}')

(2, 1, 2, 3, 6, 7)

튜플은 값 변경 안된다

In [20]:
tuple_a[2] = 99
print(f'{tuple_a}')

TypeError: 'tuple' object does not support item assignment

## 딕셔너리 자료형

In [52]:
dict_a = {'name':'pay'
         , 'phone':'0119993323'
         ,'birth':'1118'}

print(f'{dict_a}')
print(f'{dict_a["name"]}')
dict_a['test'] = 'test'
print(f'{dict_a}')

{'name': 'pay', 'phone': '0119993323', 'birth': '1118'}
pay
{'name': 'pay', 'phone': '0119993323', 'birth': '1118', 'test': 'test'}

In [31]:
del dict_a["name"]
print(f'{dict_a}')

{'phoen': '0119993323', 'birth': '1118', 'test': 'test'}

### dict.items()
- 딕셔너리 조합들
- 리턴타입 dict.items()

### dict.keys()
- 딕셔너리 키들
- 리턴타입 dict.keys()

### dict_values()
- 딕셔너리 값들
- 리턴타입 dict.values()

In [53]:
print(f"dict_a 조합: {dict_a.items()}")
print(f'dict_a key들: {dict_a.keys()}')
print(f'dict_a value들: {dict_a.values()}')

dict_a 조합: dict_items([('name', 'pay'), ('phone', '0119993323'), ('birth', '1118'), ('test', 'test')])
dict_a key들: dict_keys(['name', 'phone', 'birth', 'test'])
dict_a value들: dict_values(['pay', '0119993323', '1118', 'test'])

#### 리턴 타입 확인

In [54]:
print(f'dict_a key들: {list(dict_a.keys())}')
print(f'dict_a key들: {dict_a.keys()}')
print(type(list(dict_a.keys())))

dict_a key들: ['name', 'phone', 'birth', 'test']
dict_a key들: dict_keys(['name', 'phone', 'birth', 'test'])
<class 'list'>

### key로 value가져오기

In [55]:
dict_a.get("phone")

'0119993323'

### 딕셔너리에 해당 key가 존재하는지 확인

In [56]:
"name" in dict_a

True

In [57]:
"address" in dict_a

False

### key, value 지우기

In [58]:
dict_a.clear()

In [59]:
dict_a

{}

## 집합 자료형
- 순서가 없다. <br/>
- 중복 X<br/>
- 교집합, 합집합, 차집합

In [81]:
s1 = set([1,2,3])
s1

{1, 2, 3}

In [83]:
s1.add(4)
s1

{1, 2, 3, 4}

### 교집합, 합집합, 차집합

In [92]:
#교집합
s1 = {1,2,3,4,5,6}
s2 = {4,5,6,7,8,9}
print(s1 & s2)
print(s1.intersection(s2))

{4, 5, 6}
{4, 5, 6}

In [91]:
# 합집합
print(s1 | s2)
print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [93]:
# 차집합
print(s1 - s2)
print(s1.difference(s2))
print(s2 - s1)
print(s2.difference(s1))

{1, 2, 3}
{1, 2, 3}
{8, 9, 7}
{8, 9, 7}

### 값 추가 및 제거하기
- add: 1개 추가
- update: 여러개 추가
- remove: 단일요소 제거.
    - 차집합으로 여러개 제거해라

In [113]:
# add
s1=set([1,2,3])
s1.add(4)
s1

{1, 2, 3, 4}

In [114]:
# update
s1.update([4,5,6])
s1

{1, 2, 3, 4, 5, 6}

In [115]:
# remove
s1.remove(4)
s1

{1, 2, 3, 5, 6}

In [116]:
# 여러 요소 제거
s1 = {1,2,3,4,5,6}
s2 = {2,3,4,5,6,7,8,9,0}
s1 = s1 - s2
s1

{1}

In [118]:
a= [1,2,3,1,1,1,5,2,1,1,2,5]
print(set(a))

{1, 2, 3, 5}

### 문자, 튜플, 딕셔너리, 숫자 0, 값이 비어있으면 <font color="red">False</font>를 반환한다.

In [120]:
print(bool('2'))
print(bool(''))

True
False

In [122]:
a = [1,2,3,4]
while a:
    print(a.pop())

4
3
2
1

## 리스트복사
- 복사한 리스트와 주소가 같으면, 값 변경 시 둘 다 변경된다
- b=a[:]나 copy library의 copy()를 이용한다

In [129]:
# 단순 대입 -> 복사 실패
a=[1,2,3]
b=a
print(id(a))
print(id(b))
a[2] = 99
print(a)
print(b)

2533817977416
2533817977416
[1, 2, 99]
[1, 2, 99]

In [130]:
# [:] 복사 -> 복사 성공
a = [1,2,3]
b = a[:]
print(id(a))
print(id(b))
a[2] = 99
print(a)
print(b)

2533818551112
2533817776712
[1, 2, 99]
[1, 2, 3]

In [134]:
# copy =-> 복사 성공
from copy import copy 
a = [1,2,3]
b = copy(a)
print(id(a))
print(id(b))
a[2] = 99
print(a)
print(b)

2533818765576
2533818767688
[1, 2, 99]
[1, 2, 3]

In [158]:
m = int(input("구입 금액을 입력하시오:"))
if m>100000:
    m*=0.95
print(f'지불 금액은 {m}입니다.')

구입 금액을 입력하시오:110000
지불 금액은 104500.0입니다.

In [159]:
m = int(input("구입 금액을 입력하시오:"))
t = m*0.95 if m>100000 else m
print(f'지불 금액은 {t}입니다.')

구입 금액을 입력하시오:100000
지불 금액은 100000입니다.

In [205]:
adict = {'하이': 300, '헬로': 180}
adict.get('헬로')

180

In [215]:
a = 10
while a>5:
    if a==7:
        a-=2
        print('aa',a)
        continue
    print('aa',a)
    a-=1

aa 10
aa 9
aa 8
aa 5

In [225]:
a = range(10)
for i in a:
    print(f'{i}',end=' ')
print(end='\n')
for i in range(len(a)):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9

In [226]:
print("w",end='\n')

w

In [229]:
while True:
    aa = input("0누르면 나가짐: ")
    if aa == '0':
        break;

    print(aa)

0누르면 나가짐: 2
2
0누르면 나가짐: 4
4
0누르면 나가짐: 쇼
쇼
0누르면 나가짐: 0

## 연습문제

In [62]:
#1번
student = {
    "학번":1000
    ,"이름":"김새싹"
    ,"학과":"컴퓨터학과"
}

#2번
student["연락처"]="01012345678"
print(student)
#3번
student["학과"]="전자공학과"
print(student)
#4번
print(student["학과"])
#5번
print(student.keys())

{'학번': 1000, '이름': '김새싹', '학과': '컴퓨터학과', '연락처': '01012345678'}
{'학번': 1000, '이름': '김새싹', '학과': '전자공학과', '연락처': '01012345678'}
전자공학과
dict_keys(['학번', '이름', '학과', '연락처'])

In [75]:
#6번
tuple_my1=(10,20,30)
list_my1 = list(tuple_my1)
list_my1.append(40)
tuple_my1=tuple(list_my1)

In [76]:
tuple_my1

(10, 20, 30, 40)

In [80]:
t = (10,20,30)
t = t+(40,)
print(f'{40,}')
print(t)

(40,)
(10, 20, 30, 40)

In [139]:
# 1번
n = 2
while n>0: 
    age = int(input("Tell me your age"))
    print(age)

    if age < 30:
        print("Welcome to the Club.")
    else:
        print("Oh! no. you are not accepted.")
    
    n -= 1

Tell me your age22
22
Welcome to the Club.
Tell me your age33
33
Oh! no. you are not accepted.

In [141]:
# 홀수짝수
n = int(input("정수를 입력하세요: "))
if n%2 == 0:
    print("짝수를 입력했군요")
else:
    print("홀수를 입력했군요")

정수를 입력하세요: 255
홀수를 입력했군요

#### coffee.py

In [203]:
coffee=3
while True:
    money = int(input("돈을 넣어주세요: "))
    if money == 300:
        print("커피를 줍니다.")
        coffee -= 1
    elif money > 300:
        print(f'거스름돈 {money-300}을 주고 커피를 줍니다.')
        coffee -= 1
    else:
        print("돈을 다시 돌려주고 커피를 주지 않습니다.")
        print(f'남은 커피의 양은 {coffee}개 입니다.')
    if coffee == 0:
        print("커피가 다 떨어졌습니다. 판매 중지")
        break

돈을 넣어주세요: 5500
거스름돈 5200을 주고 커피를 줍니다.
돈을 넣어주세요: 300
커피를 줍니다.
돈을 넣어주세요: 400
거스름돈 100을 주고 커피를 줍니다.
커피가 다 떨어졌습니다. 판매 중지

### 학점.py

In [204]:
score = int(input("점수를 입력하세요:"))
t='F'
if score >=95:
    t='A+'
elif score >= 90:
    t= 'A0'
elif score >= 85:
    t= 'B+'
elif score >= 80:
    t= 'B0'
elif score >= 75:
    t= 'C+'
elif score >= 70:
    t= 'C0'
elif score >= 65:
    t= 'D+'
elif score >= 60:
    t= 'D0'
else: 
    pass
print(t)

점수를 입력하세요:85
B+

### 사칙연산

In [246]:
n = 2
while n>0:
    a = input("계산할 첫 번째 수를 입력하세요:")
    b = input("계산할 두 번째 수를 입력하세요:")
    c = input("계산할 연산자를 입력하세요: ")
    res = a+c+b
    print(f'{a} {c} {b} = {eval(res)}')
    n -= 1

계산할 첫 번째 수를 입력하세요:33
계산할 두 번째 수를 입력하세요:22
계산할 연산자를 입력하세요: *
33 * 22 = 726
계산할 첫 번째 수를 입력하세요:1
계산할 두 번째 수를 입력하세요:2
계산할 연산자를 입력하세요: +
1 + 2 = 3

### 입력값에 따라 출력 실습

In [241]:
n=2
while n>0:
    t = int(input("현재 기온을 입력하시오: "))
    if t>=30:
        print("반바지를 입으세요.")
    else:
        print("긴바지를 입으세요")
    print("이제 나가서 운동하세요!")
    n-=1

현재 기온을 입력하시오: 24
긴바지를 입으세요
이제 나가서 운동하세요!
현재 기온을 입력하시오: 32
반바지를 입으세요.
이제 나가서 운동하세요!

### 월을 입력받아 2월이면 "월의 날수는 29일" 4,6,10월이면 월의 날수는 30일 그외는 31일 이라고 출력하세요.

In [243]:
dict_day = dict()
for i in range(1,13):
    if i == 2:
        dict_day[2] = "29일"
    elif i in (4,6,10):
        dict_day[i] = "30일"
    else:
        dict_day[i] = "31일"
print(dict_day)

n=2
while n>0:
    a = int(input("월을 입력하시오: "))
    print(f'월의 날수는 {dict_day[a]}입니다.')
    n -= 1

{1: '31일', 2: '29일', 3: '31일', 4: '30일', 5: '31일', 6: '30일', 7: '31일', 8: '31일', 9: '31일', 10: '30일', 11: '31일', 12: '31일'}
월을 입력하시오: 10
월의 날수는 30일입니다.
월을 입력하시오: 2
월의 날수는 29일입니다.

### while 문을 사용하여 구구단 3단을 출력해 보세요

In [244]:
n=1
while n<=9:
    print(f'3 * {n} = {3*n}')
    n+=1

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27